.GroupWrapper {
    margin-top: 10px;
    background-color: rgb(56, 1, 20);
    border: 2px solid black;;
    border-radius: 20px;
    /*border-bottom-right-radius: 20px*/

}

.CroupTitle {
    margin-top: 10px;
    width: 100%;
    height: 100px;
    border: 2px solid black;
    background-color: rgb(56, 1, 20);
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
}

.Title {
    margin-top: 18px;
    width: 300px;
    height: 50px;
    /*border: 2px solid greenyellow;*/
    font-size: 46px;
    letter-spacing: 8px;
    color: #FFFFFF;
}

.CroupTitle:hover {
    background-color: #a85b5b;

}

.FlagItems {
    margin-top: 18px;
    width: 500px;
    height: 50px;
    /*border: 2px solid #d71cd4;*/
    display: flex;
}
.flag{
    width: 100px;
    height: 80px;
    /*border: 2px solid #b0da83;*/
}
.FlagItems img{
    max-width: 60px;
    border: 1px solid #000;
    border-radius: 50%;
}

.CroupHeader {
    text-align: center;
    width: 100%;
    height: 60px;
    border-bottom: 3px solid #a85b5b;
    margin-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 20px;
    color: #FFF;
}

.CroupHeader:hover {
    background-color: #a85b5b;
    border-bottom: 3px solid rgb(56, 1, 20, 0.9);
}

.GroupItemWrapper {
    width: 100%;
    min-height: 300px;
    /*border: black 2px solid;*/
    border-radius: 20px;
    display: flex;
}

.MatchesWrapper {
    width: 60%;
    min-height: 100px;
    background-color: rgb(229, 201, 209);
    box-shadow: inset -10px -10px 15px rgba(68, 7, 7, 0.5),
    inset 5px 5px 10px rgba(192, 16, 16, 0.4);
    /*border: black 2px solid;*/
    border-bottom-left-radius: 20px

}

.TableWrapper {
    width: 40%;
    min-height: 300px;

    background-color: rgb(56, 1, 20, 0.9);
    border-bottom-right-radius: 20px
}

.MatchItems {
    width: 90%;
    min-height: 620px;
    /*border: aqua 3px solid;*/
    margin: 5% 0 0 10%;
}

