.MatcItem {
    margin: 50px auto;
    width: 80%;
    height: 90px;
    border: black 2px solid;
    border-radius: 50px;
    background: #FFF;
    display: flex;
    box-shadow: 5px 10px 5px rgb(56, 1, 20, 0.9);
}
.flagWrapper img{
    margin-top: -10px;
    max-width: 50px;
}
.ButtnosWrapper{
    margin: 12px auto;
    font-size: 38px;
    line-height: 24px;
    width: 260px;
    height: 20px;
    font-weight: bold;
}
.ButtnosWrapper button {
    cursor: pointer;
    font-family: 'Acme', sans-serif;
    font-size: 16px;
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 25px;
    box-shadow: 0 5px 10px 0 rgba(56, 1, 20, 0.5);
}
.ButtnosWrapper button:hover{
    box-shadow: 0 5px 10px 5px rgba(56, 1, 20, 0.5);
    background-color: #a85b5b;
}
.ButtnosWrapper button:active{
    /*transform: translateY(1px);*/
    box-shadow: inset 0 5px 10px 1px rgba(56, 1, 20, 0.3);
}
.ButtnosWrapper button:disabled{
    border: 1px solid rgba(56, 1, 20, 0.9);
    box-shadow: inset 0 5px 10px 2px rgba(23, 1, 8, 0.9);
}
@media (max-width: 1080px){
    .MatcItem{
        width: 100%;
    }
    .ItemWrapper {
        font-size: 32px;
        line-height: 24px;
        width: 60%;
    }
    .ItemValues {
        font-size: 46px;
    }
    .ButtnosWrapper{
        width: 283px;
    }
    .ButtnosWrapper button{
        margin-right: 34px;
    }
}