.MatcItem {
    margin-top: 5px;
    width: 90%;
    height: 90px;
    border: black 2px solid;
    border-radius: 50px;
    background: #FFF;
    display: flex;
}

.ItemWrapper {
    margin: 30px auto;
    font-size: 38px;
    line-height: 24px;
    width: 540px;
    height: 20px;
    font-weight: bold;
    /*border: 1px solid green;*/
    color: rgb(56, 1, 20, 0.9);
    display: flex;
    justify-content: space-evenly;
}

.ItemValues {
    width: 20px;
    height: 20px;
    font-size: 50px;
    margin-left: 20px;
    /*border: 1px solid #26135d;*/
}

.ItemValuesWithNames {
    width: 220px;
    height: 20px;
    /*border: 3px solid #8a751f;*/
    text-align: center;
}

.ButtnosWrapper {
    margin: 30px auto;
    font-size: 38px;
    line-height: 24px;
    width: 120px;
    height: 20px;
    font-weight: bold;
    /*border: 1px solid #22ccbe;*/
}